data/
ckpt/
test.py
img/
abandon/
models/
csv/
*.log
*.pyc
*/__pycache__/

.venv/

config/exp/*

.vscode/tasks.json

nohup.out

notifications/slack_configs.toml

.ruff_cache

.pytest_cache

run.sh

.csv-backup/

.img-backup/

.models-backup/

data_path.toml

.backup/

/root/RingTool/csv

/root/RingTool/RingDataRaw.zip
t-Ring.zip
.gitignore
RingDataRaw.zip

/root/RingTool/config1/

/root/RingTool/config/


RingDataRaw/*

RingDataProcessed/*

/root/RingTool/visualizations/


# ===== RingTool large outputs / datasets =====
data/rings/*
RingDataRaw/
onnx/
models*/
img*/
output*/
*.png
*.pt
*.npz
*.ipynb_checkpoints
t-Ring/*
